/* Graph CSS */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node text {
  font: 9px helvetica;
}

d3-tip {
  line-height: 1;
  color: black;
}

/* Containers CSS */
.root {
  display: flex;
}

#force-graph {
  flex: 1;
}

#force-graph > svg {
  margin: auto;
  display: block;
}

.settings {
  flex: 1;
}
